.steps {
  position: relative;
}
label.empty-view {
  padding: 0 !important;
  margin: 0 !important;
  span {
    padding-top: 33px !important;
    padding-left: 38px !important;
    display: inline-block;
  }
}

.label-wrapper {
  label {
    display: inline;
    font-family: "open sans bold";
    font-size: 16px;
  }
  span {
    margin-left: 5px;
  }
}
.subtitle-wrapper {
  margin-bottom: 10px;
}

//datepicker
.input-group.datePicker {
  width: 260px !important;

  input {
    min-width: 100px;
    background-color: white;
  }

  i.form-control-feedback {
    right: inherit;
  }
}

//default
.stb-form-group {
  &:not(.checkboxes) {
    width: inherit !important;
  }
  display: inline-block;

  &.radios {
    display: block;
  }

  &.checkboxes, &.radios-inline, &.date-picker, &.select-wrapper {
    margin-bottom: 24px;
  }

  input {
    min-width: 260px;
  }

  .form-control-feedback {
    top: 0px;
    display: block;
  }


  &.select-wrapper {
    width: 260px !important;
  }

}

.row.notification {
  padding-bottom: 0;
  margin-bottom: 24px;
  .notification-wrapper {
    position: relative;

    .msgIcon {
      position: absolute;
      display: block;
      text-align: center;
      padding: 24px;
      width: 72px;
      height: 100%;
      .info {
        margin-left: 0;
      }
    }
    .msgText {
      width: 100%;
      display: block;
      min-height: 72px;
      padding: 24px 24px 24px 96px;
      &.white {
        background: #ffffff;
      }

      p {
        margin: 0;
      }

      button.close {
        top: 5px;
        right: 11px;
        width: 100%;
        opacity: .8;
        filter: alpha(opacity=80);

        &:focus, &:hover {
          opacity: .5;
          filter: alpha(opacity=50);
        }

        .remove {
          margin-right: 10px;
        }
      }

      .message-text {
        margin-right: 8%;
        margin-top: 24px;
      }
    }
  }
}

.row.info-message-wrapper {
  padding-bottom: 0px;
  .info-message {
    margin-bottom: 0;

    .msgText {
      width: 100%;
      border-left: 1px solid black;
      padding: 0 0 0 24px;
      margin-top: 24px;
      display: block;

      p {
        margin: 0;
      }

      button.close {
        float: none;
        opacity: .8;
        filter: alpha(opacity=80);
        margin-top: 24px;
        font-size: 18px;
        font-family: "Open Sans Bold",Arial,ArialMT,sans-serif;

        &:focus, &:hover {
          opacity: .5;
          filter: alpha(opacity=50);
        }

        .close-text {
          display: inline-block;
          margin-left: 0;
          margin-bottom: 5px;
        }

        .remove {
          margin-left: 5px;
          margin-bottom: -5px;
        }
      }
    }
  }
}

.info-button {
  background-position: -100px -800px !important;
  margin-bottom: -3px;
  cursor: pointer;
}

.row.white-box {
  padding-bottom: 0;
  .white-box-wrapper {
    min-height: 0;
    background: #fff;
  }

  &.shown {
    .white-box-wrapper {
      margin-bottom: 24px;
      padding-top: 20px;
    }
  }

  .notification-wrapper {
    .msgText {
      &.white {
        background: #efe8df;
      }
    }
  }

}

form {
  .col-md-12 {
    padding-right: 24px !important; //crap from stb.ny
  }
}

@media (max-width: 767px) {


  .notification {
    .msgIcon {
      padding: 12px;
      width: 48px;
    }
    .msgText {
      min-height: 48px;
      padding: 12px 12px 12px 60px;
    }
  }

}