p, body { color:#000; }

h2 { color: #00bed5; }

h4 { color:#00bed5; }

.code h4 { color:#fff; }

a.github-bar { color:#fff; background:#000; }

.slide h3 { color:#fff; }
.slide p { color:#fff; }

.anchor .circle { color:#fff; background:#00bed5; }

.code { background:#00bed5; }

.code pre { color:#fff; }

.code pre .hljs-attribute { color:#000; }

.code pre .hljs-string,
.code pre .hljs-number { color:#ffda47; }

ul.add-ons li:hover { background:#f9f9f9;  }

.demo { background:#f6f6f6; }

.demo a.btn { color:#fff; background:#ffda47; }

pre.model, pre.install { color:#ff5182; }

ul.add-ons h3 { color:#000; }
ul.add-ons p { color:#474747; }
ul.add-ons p span { color:#808080; }
ul.add-ons span.date { color:#808080; }
ul.add-ons .badge { background:#00bed5;}
ul.add-ons a.stealth { color: #808080; }
ul.add-ons .nodesc { color: #808080; }

footer { background:#ffda47; }
footer h5 { color:#00bed5; }
footer a { color:#000; }

@media screen and (max-width: 767px) {
  h1 { color:#ff5182; }
}
